footer{
    background: #232323;
    color: #ffffff;
    .topFooter{
        display: flex;
        justify-content: center;
        border-bottom: 1px solid #656565;
        ul{
            display: flex;
            li{
                padding: 15px 0;
                a{
                    display: block;
                    padding: 0 10px;
                    color: $primary;
                }
                &:first-child{
                    a{
                        border-right: 2px solid $primary;
                    }
                }
            }
        }
    }
   
}