@charset "utf-8";

/*Start: Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
hr,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

html[xmlns] .clearfix {
  display: block;
}

input:disabled {
  cursor: not-allowed;
}

html.flexbox {
  height: 100%;
  overflow-y: auto;
  font-size: 25px;

  @media (max-width: 1650px) {
    font-size: 22px;
  }
  @media (max-width: 1440px) {
    font-size: 19px;
  }
  @media (max-width: 1300px) {
    font-size: 18px;
  }
  @media (max-width: 1200px) {
    font-size: 14px;
  }
  @media (max-width: 991px) {
    font-size: 16px;
  }
  @media (max-width: 767px) {
    font-size: 14px;
  }
  @media (max-width: 575px) {
    font-size: 12px;
  }
}

.flexbox {
  body {
    font-size: 1rem;
    font-family: $font;
    line-height: 1;
    // background-image: url(../images/siteimg.jpg);
    background-size: 100% auto;
    @media (max-width: 767px) {
      font-size: 1.25rem;
    }
  }
}

.link {
  color: $primary;
}

label {
  font-size: 0.75rem;
  line-height: 1.2z;
  margin-bottom: 10px;
  display: block;
}

.d-flex {
  display: -ms-flexbox;
  display: flex;
}

.flex-row {
  -ms-flex-direction: row;
  flex-direction: row;
}

.flex-column {
  -ms-flex-direction: column;
  flex-direction: column;
}

.justify-content-start {
  -ms-flex-pack: start;
  justify-content: flex-start;
}

.justify-content-end {
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.justify-content-center {
  -ms-flex-pack: center;
  justify-content: center;
}

.justify-content-between {
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.align-items-start {
  -ms-flex-align: start;
  align-items: flex-start;
}

.align-items-end {
  -ms-flex-align: end;
  align-items: flex-end;
}

.align-items-center {
  -ms-flex-align: center;
  align-items: center;
}
.vaxsupplypoint {
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    //   padding-left: 15px;
    //   padding-right: 15px;
    @media (max-width: 767px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
    }
    @media (min-width: 768px) {
      max-width: 700px;
    }
    @media (min-width: 992px) {
      max-width: 900px;
    }
    @media (min-width: 1200px) {
      max-width: 1140px;
    }
    @media (min-width: 1300px) {
      max-width: 1280px;
    }
    @media (min-width: 1440px) {
      max-width: 1400px;
    }
    @media (min-width: 1640px) {
      max-width: 1600px;
    }
  }
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2.5rem;
  }
  h3 {
    font-size: 2rem;
    font-weight: 400;
  }
  h4 {
    font-size: 1.5rem;
    font-weight: 400;
  }
  h5 {
    font-size: 1rem;
    font-weight: 400;
  }
  h6 {
    font-size: 0.9rem;
    font-weight: 400;
  }
  .btn {
    min-height: 52px;
    padding: 12px 22px;
    line-height: 1;
    display: inline-block;
    border-radius: 8px;
    cursor: pointer;
    &:hover {
      opacity: 0.9;
    }
    &.btn-primary {
      background-color: $primary;
      color: #fff;
    }
    &.btn-secondary {
      background-color: $secondary;
      color: #fff;
    }
  }
  .custom-map-control-button {
    appearance: button;
    background-color: #fff;
    border: 0;
    border-radius: 2px;
    box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    margin: 10px;
    padding: 0 0.5em;
    height: 40px;
    font: 400 18px Roboto, Arial, sans-serif;
    overflow: hidden;
  }
  .custom-map-control-button:hover {
    background: #ebebeb;
  }

  .tab_cont_li {
    display: none;
  }
  .tab_cont_li.active {
    display: block;
  }
}
