header {
    color: #fff;
    position: relative;
    .topHeader {
        background-color: #232323;
    }
    .logo {
        display: flex;
        img {
            max-width: 100%;

            @media(max-width: 767px) {
                max-height: 18px;
            }
        }
    }
}

