header {
  color: #fff;
  position: relative;
  .topHeader {
    background-color: #ffffff;
    border-bottom: 0.32rem solid #1775b1;
    padding: 1.4rem 0;
  }
  .logo {
    display: flex;
    justify-content: flex-end;
    img {
      max-width: 100%;

      @media (max-width: 767px) {
        max-height: 18px;
      }
    }
  }
}
