.banner {
  position: relative;
  img {
    max-width: 100%;
    display: block;
  }
  .bannerContent {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    color: #fff;
    max-width: 83.3%;
    margin: auto;
    right: 0;
    display: flex;
    padding-top: 13.4%;

    h2 {
      font-size: 3.552rem;
      text-transform: uppercase;
      line-height: 1;
    }
  }
}
.locationSection {
  background-color: $secondary;
  color: #fff;
  hr {
    border: 1px solid #282828;
    margin-top: 3rem;
    margin-bottom: 3rem;
  }
  .locationSec_1 {
    padding-top: 1.9rem;
    padding-bottom: 3.8rem;
    font-family: $font-light;
    h4 {
      font-size: 1.44rem;
      line-height: 1.3;
    }
    h3 {
      display: inline-flex;
      align-items: center;
      font-size: 1.838rem;
      line-height: 1.4;
      padding-left: 1.3rem;
      font-family: $font;
      padding-right: 0.9rem;
      img {
        margin-right: 0.5rem;
      }
    }
    a {
      padding: 0.8rem 1.4rem;
      line-height: 1;
      display: inline-flex;
      border-radius: 8px;
      cursor: pointer;
      font-size: 1.32rem;
      margin-left: 0.4rem;
    }
  }
  .locationSec_2 {
    #map {
      height: 60vh;
      min-height: 28.8rem;
    }
  }
  .locationSec_3 {
    padding: 5rem 0;
    ul {
      margin-left: -15px;
      margin-right: -15px;
      li {
        padding-left: 25px;
        padding-right: 25px;
        width: 33.33%;
        .form-control {
          width: 100%;
          height: 80px;
          background: #9ca913;
          border: 4px solid #fff;
          border-radius: 5px;
          text-align: center;
          font-size: 1.6rem;
          color: #fff;
          &::placeholder {
            color: #ffffff80;
          }
        }
        .btn {
          width: 100%;
          height: 100%;
          font-size: 1.5rem;
          border: 2px solid #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          img {
            margin-right: 7px;
          }
        }
      }
    }
  }
}
.listingSection {
  padding-top: 4rem;
  h1 {
    font-size: 3.43rem;
    display: flex;
    align-items: flex-end;
    font-family: $font-bold;
    small {
      font-family: $font;
      font-size: 40%;
      padding-left: 1.9%;
      margin-bottom: 0.3rem;
    }
  }
  .listing_blk {
    padding: 2.1rem 0.3rem;

    .grid-l1 {
      width: 100%;
      height: auto;
      overflow: hidden;
      .boxListing {
        padding: 1.44rem 0;
        border-bottom: 3px solid #808285;
        .box-acco {
          width: 100%;
          height: auto;
          overflow: hidden;
          border-radius: 15px;
          // background: #4a63ae;

          .listigHeader {
            width: 100%;
            text-align: left;
            color: #fff;
            cursor: pointer;
            margin: 0px !important;
            display: flex;
            align-items: center;
            //
            padding-top: 0.64rem;
            padding-bottom: 0.6rem;
            padding-left: 2.2rem;
            justify-content: space-between;
            .compDetails {
              display: flex;
              align-items: center;

              .compImg {
                height: 116px;
                width: 116px;
                background-color: #fff;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                  max-width: 95%;
                }
              }
              .compName {
                font-size: 1.5508rem;
                color: #fff;
                font-weight: 600;
                padding-left: 1.3rem;
              }
            }
            .compContact {
              display: flex;
              align-items: center;
              font-size: 1.3rem;
              justify-content: space-between;
              width: 33.6%;
              padding-right: 1.5rem;
              .connect {
                display: flex;
                align-items: center;
                .callNow,
                .mailNow {
                  font-size: 30px;
                  display: flex;
                  align-items: center;
                  color: #fff;
                  padding-right: 1rem;
                  img {
                    margin-right: 10px;
                  }
                }
              }
            }
          }
          .level-box {
            width: 100%;
            height: auto;
            overflow: hidden;
            padding: 0 2.5rem;
            display: none;
            .mainAddress {
              display: none;
              &.active {
                display: block;
              }
            }
            .tab_cont_blk {
              padding: 1.56rem 6.72rem 1.32rem 5.92rem;
              font-size: 1.2rem;
              line-height: 1.4;
              margin-top: 1.26rem;
              border-top: 3px solid #000;
              border-bottom: 3px solid #000;
              min-height: 11.539rem;
              .address {
                font-size: 1.2rem;
                margin-bottom: 0.9rem;
              }
              .phone {
                font-size: 1.2rem;
                margin-bottom: 0.8rem;
              }
            }
            .tab_title_blk {
              padding: 28px 150px;
              .tab_title_inner_blk {
                display: flex;
                margin-left: -10px;
                margin-right: -10px;
                li {
                  span {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 24px;
                    svg {
                      font-size: 2rem;
                      color: #e3ebf1;
                    }
                    a {
                      font-size: 0.96rem;
                      color: #fff;
                      display: block;
                      padding: 0 10px;
                      margin-top: 17px;
                    }
                  }
                  &:not(:last-child) {
                    span {
                      a {
                        border-right: 3px solid #fff;
                      }
                    }
                  }
                  &.active {
                    svg,
                    a {
                      color: #0e1f51;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
