@font-face {
  font-family: "ITCAvantGardePro-Bold";
  src: url("../fonts/ITCAvantGardePro-Bold.eot");
  src: url("../fonts/ITCAvantGardePro-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardePro-Bold.ttf") format("truetype"), url("../fonts/ITCAvantGardePro-Bold.woff") format("woff"), url("../fonts/ITCAvantGardePro-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ITCAvantGardePro-Md";
  src: url("../fonts/ITCAvantGardePro-Md.eot");
  src: url("../fonts/ITCAvantGardePro-Md.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardePro-Md.ttf") format("truetype"), url("../fonts/ITCAvantGardePro-Md.woff") format("woff"), url("../fonts/ITCAvantGardePro-Md.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ITCAvantGardePro-Bk";
  src: url("../fonts/ITCAvantGardePro-Bk.otf");
  src: url("../fonts/ITCAvantGardePro-Bk.eot?#iefix") format("embedded-opentype"), url("../fonts/ITCAvantGardePro-Bk.ttf") format("truetype"), url("../fonts/ITCAvantGardePro-Bk.woff") format("woff"), url("../fonts/ITCAvantGardePro-Bk.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
/*Start: Reset CSS*/
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
hr,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

em {
  font-style: italic;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:active,
a:focus,
a:hover {
  outline: 0;
  text-decoration: none;
}

html[xmlns] .clearfix {
  display: block;
}

input:disabled {
  cursor: not-allowed;
}

html.flexbox {
  height: 100%;
  overflow-y: auto;
  font-size: 25px;
}
@media (max-width: 1650px) {
  html.flexbox {
    font-size: 22px;
  }
}
@media (max-width: 1440px) {
  html.flexbox {
    font-size: 19px;
  }
}
@media (max-width: 1300px) {
  html.flexbox {
    font-size: 18px;
  }
}
@media (max-width: 1200px) {
  html.flexbox {
    font-size: 14px;
  }
}
@media (max-width: 991px) {
  html.flexbox {
    font-size: 16px;
  }
}
@media (max-width: 767px) {
  html.flexbox {
    font-size: 14px;
  }
}
@media (max-width: 575px) {
  html.flexbox {
    font-size: 12px;
  }
}

.flexbox body {
  font-size: 1rem;
  font-family: "ITCAvantGardePro-Md", sans-serif;
  line-height: 1;
  background-size: 100% auto;
}
@media (max-width: 767px) {
  .flexbox body {
    font-size: 1.25rem;
  }
}

.link {
  color: #0468a6;
}

label {
  font-size: 0.75rem;
  line-height: 1.2z;
  margin-bottom: 10px;
  display: block;
}

.d-flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-column {
  flex-direction: column;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.align-items-start {
  align-items: flex-start;
}

.align-items-end {
  align-items: flex-end;
}

.align-items-center {
  align-items: center;
}

.vaxsupplypoint .container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 767px) {
  .vaxsupplypoint .container {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
@media (min-width: 768px) {
  .vaxsupplypoint .container {
    max-width: 700px;
  }
}
@media (min-width: 992px) {
  .vaxsupplypoint .container {
    max-width: 900px;
  }
}
@media (min-width: 1200px) {
  .vaxsupplypoint .container {
    max-width: 1140px;
  }
}
@media (min-width: 1300px) {
  .vaxsupplypoint .container {
    max-width: 1280px;
  }
}
@media (min-width: 1440px) {
  .vaxsupplypoint .container {
    max-width: 1400px;
  }
}
@media (min-width: 1640px) {
  .vaxsupplypoint .container {
    max-width: 1600px;
  }
}
.vaxsupplypoint h1 {
  font-size: 3rem;
}
.vaxsupplypoint h2 {
  font-size: 2.5rem;
}
.vaxsupplypoint h3 {
  font-size: 2rem;
  font-weight: 400;
}
.vaxsupplypoint h4 {
  font-size: 1.5rem;
  font-weight: 400;
}
.vaxsupplypoint h5 {
  font-size: 1rem;
  font-weight: 400;
}
.vaxsupplypoint h6 {
  font-size: 0.9rem;
  font-weight: 400;
}
.vaxsupplypoint .btn {
  min-height: 52px;
  padding: 12px 22px;
  line-height: 1;
  display: inline-block;
  border-radius: 8px;
  cursor: pointer;
}
.vaxsupplypoint .btn:hover {
  opacity: 0.9;
}
.vaxsupplypoint .btn.btn-primary {
  background-color: #0468a6;
  color: #fff;
}
.vaxsupplypoint .btn.btn-secondary {
  background-color: #9ca913;
  color: #fff;
}
.vaxsupplypoint .custom-map-control-button {
  -webkit-appearance: button;
          appearance: button;
  background-color: #fff;
  border: 0;
  border-radius: 2px;
  box-shadow: 0 1px 4px -1px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  margin: 10px;
  padding: 0 0.5em;
  height: 40px;
  font: 400 18px Roboto, Arial, sans-serif;
  overflow: hidden;
}
.vaxsupplypoint .custom-map-control-button:hover {
  background: #ebebeb;
}
.vaxsupplypoint .tab_cont_li {
  display: none;
}
.vaxsupplypoint .tab_cont_li.active {
  display: block;
}

.vaxsupplypoint header {
  color: #fff;
  position: relative;
}
.vaxsupplypoint header .topHeader {
  background-color: #ffffff;
  border-bottom: 0.32rem solid #1775b1;
  padding: 1.4rem 0;
}
.vaxsupplypoint header .logo {
  display: flex;
  justify-content: flex-end;
}
.vaxsupplypoint header .logo img {
  max-width: 100%;
}
@media (max-width: 767px) {
  .vaxsupplypoint header .logo img {
    max-height: 26px;
  }
}

.vaxsupplypoint footer {
  background: #0e1f51;
  color: #ffffff;
  padding-top: 40px;
  padding-bottom: 40px;
}
.vaxsupplypoint footer .topFooter {
  max-width: 870px;
  width: 100%;
  margin: auto;
  font-style: "ITCAvantGardePro-Md", sans-serif;
  text-align: center;
  line-height: 1.2;
}

/*
 * CSS Styles that are needed by jScrollPane for it to operate correctly.
 *
 * Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane
 * may not operate correctly without them.
 */
.jspContainer {
  overflow: hidden;
  position: relative;
}

.jspPane {
  position: absolute;
}

.jspVerticalBar {
  background: transparent;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
}

.jspHorizontalBar {
  background: transparent;
  bottom: 0;
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
  display: none;
}

.jspCap {
  display: none;
}

.jspHorizontalBar .jspCap {
  float: left;
}

.jspTrack {
  background: transparent;
  position: relative;
}

.jspTrack::before {
  content: "";
  width: 1px;
  height: 100%;
  position: absolute;
  display: block;
  background: #c4c4c4;
  margin-left: 4px;
}

.jspDrag {
  background: #232323;
  cursor: pointer;
  left: 0;
  position: relative;
  top: 0;
  border-radius: 10px;
}

.jspHorizontalBar .jspTrack,
.jspHorizontalBar .jspDrag {
  float: left;
  height: 100%;
}

.jspArrow {
  background: #50506d;
  cursor: pointer;
  direction: ltr;
  display: block;
  margin: 0;
  padding: 0;
  text-indent: -20000px;
}

.jspDisabled {
  background: #80808d;
  cursor: default;
}

.jspVerticalBar .jspArrow {
  height: 16px;
}

.jspHorizontalBar .jspArrow {
  float: left;
  height: 100%;
  width: 16px;
}

.jspVerticalBar .jspArrow:focus {
  border: 1px solid red;
  outline: none;
}

.jspCorner {
  background: #eeeef4;
  float: left;
  height: 100%;
}

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner {
  margin: 0 -3px 0 0;
}

.vaxsupplypoint .banner {
  position: relative;
}
.vaxsupplypoint .banner img {
  max-width: 100%;
  display: block;
}
.vaxsupplypoint .banner img.mobBanner {
  display: none;
}
@media (max-width: 991px) {
  .vaxsupplypoint .banner img.deskBanner {
    display: none;
  }
  .vaxsupplypoint .banner img.mobBanner {
    display: block;
    width: 100%;
  }
}
.vaxsupplypoint .banner .bannerContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1;
  color: #fff;
  max-width: 83.3%;
  margin: auto;
  right: 0;
  display: flex;
  padding-top: 13.4%;
}
@media (max-width: 991px) {
  .vaxsupplypoint .banner .bannerContent {
    top: auto;
    bottom: 3rem;
  }
}
.vaxsupplypoint .banner .bannerContent h2 {
  font-size: 3.552rem;
  text-transform: uppercase;
  line-height: 1;
}
.vaxsupplypoint .locationSection {
  background-color: #9ca913;
  color: #fff;
}
.vaxsupplypoint .locationSection hr {
  border: 1px solid #282828;
  margin-top: 3rem;
  margin-bottom: 3rem;
}
.vaxsupplypoint .locationSection .locationSec_1 {
  padding-top: 1.9rem;
  padding-bottom: 3.8rem;
  font-family: "ITCAvantGardePro-Bk", sans-serif;
}
.vaxsupplypoint .locationSection .locationSec_1 h4 {
  font-size: 1.44rem;
  line-height: 1.3;
}
.vaxsupplypoint .locationSection .locationSec_1 h3 {
  display: inline-flex;
  align-items: center;
  font-size: 1.838rem;
  line-height: 1.4;
  padding-left: 1.3rem;
  font-family: "ITCAvantGardePro-Md", sans-serif;
  padding-right: 0.9rem;
}
.vaxsupplypoint .locationSection .locationSec_1 h3 img {
  margin-right: 0.5rem;
  width: 2.28rem;
}
.vaxsupplypoint .locationSection .locationSec_1 a {
  padding: 0.8rem 1.4rem;
  line-height: 2;
  display: inline-flex;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1.32rem;
  margin-left: 0.4rem;
}
@media (max-width: 991px) {
  .vaxsupplypoint .locationSection .locationSec_1 .currentLocation {
    flex-direction: column;
  }
}
.vaxsupplypoint .locationSection .locationSec_1 .getLoaction {
  margin-left: auto;
}
@media (max-width: 991px) {
  .vaxsupplypoint .locationSection .locationSec_1 .getLoaction {
    margin-top: 2rem;
    margin-right: auto;
  }
}
.vaxsupplypoint .locationSection .locationSec_2 #map {
  height: 60vh;
  min-height: 28.8rem;
}
.vaxsupplypoint .locationSection .locationSec_3 {
  padding: 5rem 0;
}
.vaxsupplypoint .locationSection .locationSec_3 ul {
  margin-left: -15px;
  margin-right: -15px;
}
@media (max-width: 991px) {
  .vaxsupplypoint .locationSection .locationSec_3 ul {
    flex-direction: column;
  }
}
.vaxsupplypoint .locationSection .locationSec_3 ul li {
  padding-left: 25px;
  padding-right: 25px;
  width: 33.33%;
}
@media (max-width: 991px) {
  .vaxsupplypoint .locationSection .locationSec_3 ul li {
    padding-left: 35px;
    padding-right: 35px;
    width: 100%;
  }
  .vaxsupplypoint .locationSection .locationSec_3 ul li:not(:last-child) {
    margin-bottom: 1.375rem;
  }
}
.vaxsupplypoint .locationSection .locationSec_3 ul li .form-control {
  width: 100%;
  height: 3.2rem;
  background: #9ca913;
  border: 0.16rem solid #fff;
  border-radius: 5px;
  text-align: center;
  font-size: 1.6rem;
  color: #fff;
}
@media (max-width: 991px) {
  .vaxsupplypoint .locationSection .locationSec_3 ul li .form-control {
    height: 4.85rem;
    font-size: 1.625rem;
  }
}
.vaxsupplypoint .locationSection .locationSec_3 ul li .form-control::placeholder {
  color: #ffffff80;
}
.vaxsupplypoint .locationSection .locationSec_3 ul li .btn {
  width: 100%;
  height: 3.2rem;
  font-size: 1.5rem;
  border: 2px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vaxsupplypoint .locationSection .locationSec_3 ul li .btn img {
  margin-right: 7px;
}
@media (max-width: 991px) {
  .vaxsupplypoint .locationSection .locationSec_3 ul li .btn {
    height: 4.85rem;
    font-size: 1.625rem;
  }
}
.vaxsupplypoint .listingSection {
  padding-top: 4rem;
}
.vaxsupplypoint .listingSection h1 {
  font-size: 3.43rem;
  display: flex;
  align-items: flex-end;
  font-family: "ITCAvantGardePro-Bold", sans-serif;
  color: #58595b;
}
.vaxsupplypoint .listingSection h1 small {
  font-family: "ITCAvantGardePro-Md", sans-serif;
  font-size: 40%;
  padding-left: 1.9%;
  margin-bottom: 0.3rem;
}
.vaxsupplypoint .listingSection .listing_blk {
  padding: 2.1rem 0.3rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 {
  width: 100%;
  height: auto;
  overflow: hidden;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing {
  padding: 1.44rem 0;
  border-bottom: 3px solid #808285;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco {
  width: 100%;
  height: auto;
  overflow: hidden;
  border-radius: 15px;
  background: #4a63ae;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader {
  width: 100%;
  text-align: left;
  color: #fff;
  cursor: pointer;
  margin: 0px !important;
  display: flex;
  align-items: center;
  padding-top: 0.64rem;
  padding-bottom: 0.6rem;
  padding-left: 2.2rem;
  justify-content: space-between;
}
@media (max-width: 991px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader {
    padding-left: 1.0625rem;
    flex-direction: column;
    align-items: flex-start;
  }
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compDetails {
  display: flex;
  align-items: center;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compDetails .compImg {
  height: 4.64rem;
  width: 4.64rem;
  min-width: 4.64rem;
  background-color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compDetails .compImg img {
  max-width: 95%;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compDetails .compName {
  font-size: 1.5508rem;
  color: #fff;
  padding-left: 1.3rem;
  line-height: 1.2;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  justify-content: space-between;
  width: 33.6%;
  padding-right: 1.5rem;
}
@media (max-width: 1200px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact {
    width: auto;
  }
}
@media (max-width: 991px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact {
    width: 100%;
    padding-left: 6.24rem;
  }
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .connect {
  display: flex;
  align-items: center;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .connect .callNow,
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .connect .mailNow {
  font-size: 1.2rem;
  display: flex;
  align-items: center;
  color: #fff;
  padding-right: 1rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .connect .callNow img,
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .connect .mailNow img {
  margin-right: 10px;
  width: 1.52rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .locationNow {
  width: 1.76rem;
  height: 1.76rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .locationNow::after, .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .locationNow::before {
  content: "";
  position: relative;
  width: 1rem;
  height: 0.1rem;
  background-color: #fff;
  transform-origin: center;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .locationNow::before {
  transform: rotate(90deg);
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .locationNow::after {
  transform: rotate(0deg);
  top: -3px;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .listigHeader .compContact .locationNow.active::before {
  transform: rotate(0deg);
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box {
  width: 100%;
  height: auto;
  overflow: hidden;
  padding: 0 2.5rem;
  display: none;
  color: #fff;
}
@media (max-width: 991px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box {
    padding: 0;
  }
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .mainAddress {
  display: none;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .mainAddress.active {
  display: block;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_cont_blk {
  padding: 1.56rem 6.72rem 1.32rem 5.92rem;
  font-size: 1.2rem;
  line-height: 1.4;
  margin-top: 1.26rem;
  border-top: 0.12rem solid #e3ebf1;
  border-bottom: 0.12rem solid #e3ebf1;
  min-height: 11.539rem;
  position: relative;
}
@media (max-width: 991px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_cont_blk {
    padding-left: 1.875rem;
    padding-right: 1.875rem;
  }
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_cont_blk .address {
  font-size: 1.2rem;
  margin-bottom: 0.9rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_cont_blk .phone {
  font-size: 1.2rem;
  margin-bottom: 0.8rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk {
  padding: 1.12rem 6rem;
}
@media (max-width: 991px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk {
    padding-left: 0;
    padding-right: 0;
  }
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}
@media (max-width: 991px) {
  .vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk {
    justify-content: center;
  }
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk li span {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.96rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk li span svg {
  font-size: 2rem;
  color: #e3ebf1;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk li span a {
  font-size: 0.96rem;
  color: #fff;
  display: block;
  padding: 0 0.4rem;
  margin-top: 0.68rem;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk li:not(:last-child) span a {
  border-right: 3px solid #fff;
}
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk li.active svg,
.vaxsupplypoint .listingSection .listing_blk .grid-l1 .boxListing .box-acco .level-box .tab_title_blk .tab_title_inner_blk li.active a {
  color: #0e1f51;
}
.vaxsupplypoint .tab_cont_li {
  color: #fff;
}
.vaxsupplypoint .tab_cont_li .tabContImg {
  position: absolute;
  font-size: 2.8rem;
  left: 1.28rem;
  color: #fff;
  top: 1.32rem;
}
@media (max-width: 991px) {
  .vaxsupplypoint .tab_cont_li .tabContImg {
    position: relative;
    left: auto;
    top: auto;
    line-height: 1;
  }
}
@media (max-width: 991px) {
  .vaxsupplypoint .tab_cont_li .compD {
    display: flex;
    align-items: center;
    margin-bottom: 1.16rem;
  }
}
.vaxsupplypoint .tab_cont_li .tabContTitle {
  font-size: 1.56rem;
  text-transform: uppercase;
  font-family: "ITCAvantGardePro-Bold", sans-serif;
  margin-bottom: 1.16rem;
}
@media (max-width: 991px) {
  .vaxsupplypoint .tab_cont_li .tabContTitle {
    margin-bottom: 0;
    padding-left: 1.875rem;
  }
}
.vaxsupplypoint .tab_cont_li .tabContdesc {
  font-size: 1.2rem;
  line-height: 1.4;
}